
@font-face {
    font-family: "nintendo";
    src: url("../assets/fonts/nintendo.ttf") format("truetype");
}


:root {
  --bg: #050605;
  --panel: linear-gradient(to bottom,
        #01010D 0%,
        #052795 100%);;
  --text: #F7F3EF;
  --muted: #c8cddf;
  --border: #8E90B7;
  --accent: #1B3AB9;
  --warn: #fc7a7a;
  --green: #52684f;
  --vhs-noise: 0.09;
  --overlay-opacity: 0.35;
  --font: "nintendo", ui-monospace, Menlo, monospace;
  --speed: 1;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background: var(--bg);
  color: var(--text);
  font: 1.2rem var(--font);
  letter-spacing: 30%;
  line-height: 1.4;
  text-transform: uppercase;
}

